numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
tqdm==4.67.1
matplotlib
jupyterlab
ipykernel
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0

qiskit==1.0.2
qiskit-aer==0.13.0
qiskit-aer-gpu==0.14.0
qiskit-machine-learning==0.8.2

pennylane==0.41.0
pennylane-lightning==0.41.0
pennylane-lightning-gpu==0.41.0

cuquantum==25.3.0
cuquantum-python==25.3.0
cuquantum-cu12==25.3.0
custatevec-cu12==1.8.0
cutensornet-cu12==2.7.0

autograd==1.7.0
autoray==0.7.1
